<!-- rplidar.launch -->

<launch>
  <arg name="serial_port" default="/dev/ttyUSB1" doc="RPLIDAR serial port" />
  <arg name="serial_baudrate" default="115200" doc="RPLIDAR serial baudrate" />

  <node pkg="rplidar_ros" type="rplidarNode" name="rplidar" output="screen">
    <param name="serial_port" value="$(arg serial_port)" />
    <param name="serial_baudrate" value="$(arg serial_baudrate)" />
  </node>
</launch>

